<div class="header">
    <div class="inner">
        <div class="logo">
            <h1>Fitness Site</h1>
        </div>
        <ul class="navigate">
            <a href="/posts"><li>Home</li></a>
            <a href="/health"><li>Health</li></a>
            <a href="/exercise"><li>Exercise</li></a>
            <a href="/group"><li>Group</li></a>
            <a href="/logout"><li>Logout</li></a>
        </ul>
    </div>
</div>

<h2>Health Data</h2>
<p>username: {{username}}</p>
<p>age: {{age}}</p>
<p>height: {{height}}</p>
<p>weight: {{weight}}</p>
<p>Medical Conditions: {{mc}}</p>
<p>BMI: {{BMI}}</p>
<p>BF%: {{BF}}</p>
<p>
    <a href="/health/update">Add Health Data</a>
</p>