<div class="header">
    <div class="inner">
        <div class="logo">
            <h1>Fitness Site</h1>
        </div>
        <ul class="navigate">
            <a href="/posts"><li>Home</li></a>
            <a href="/health"><li>Health</li></a>
            <a href="/exercise"><li>Exercise</li></a>
            <a href="/group"><li>Group</li></a>
            <a href="/logout"><li>Logout</li></a>
        </ul>
    </div>
</div>
<div class="body">
    <h2 class="head">Health Data</h2>
    <p>Username: {{username}}</p>
    <p>Age: {{age}}</p>
    <p>Height: {{height}}</p>
    <p>Weight: {{weight}}</p>
    <p>Medical Conditions: {{mc}}</p>
    <p>BMI: {{BMI}}</p>
    <p>BF%: {{BF}}</p>
    <p>
        <a href="/health/update">Add Health Data</a>
    </p>
</div>