<h2>Health Data</h2>
<p>username: {{username}}</p>
<p>age: {{age}}</p>
<p>height: {{height}}</p>
<p>weight: {{weight}}</p>
<p>Medical Conditions: {{mc}}</p>
<p>BMI: {{BMI}}</p>
<p>BF%: {{BF}}</p>
<p>
    <a href="/health/update">Add Health Data</a>
</p>